body {
  background-color: #becce5;
  color: gray;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}

h1, h2 {
  background-color: white;
  color: #64645A;
  padding: inherit;
}
.p1 {
  background-color: white;
padding: 10px 6% 10px 6%;
}
.p2 {
  background-color: white;
padding: 10px 6% 10px 6%;
}
/* css comment returns: the end of the road */
